.update-button{
    width: 20%;
    background-color: dodgerblue;
    border-radius: 5%;
    color: white;
    border: none;
    margin-top: 10px;
    height: 35px;
    margin-left: 5px;
}

.update-button:hover {
    background-color: blue;
}
